*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.navbar{
       position: sticky;
       background: transparent;
        width: 100%;
        margin: auto;
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
.header{
    height: 80px;
    width: 100%;
    color: white;
     background-color: #287FF0;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 .logo{
    height: 50px;
    width: auto;
    background: transparent;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
}

h1{
    color: white;
    height: 40px;
    line-height: 36px;
    text-align: left;
    margin-left: 30px;
}
.header li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    height: 40px;
    font-size: larger;
}

.input{
    padding-left: 0px;
    display: flexbox;
    justify-content: flex-start;
    align-items: flex-start;
}

input:hover{
    background-color: yellow;
    transition-duration: 0.5s;
    background: transparent;
    color: white;
    border: transparent;
}
.search{
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border-color: transparent;
    background-color:white;
    font-size: large;
    text-align: center;
    border: none;
}
.header li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 1400;
}

.listbar{
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
 .content{
    height: 300px;
    width: 300px;
    border: none;
    background-color: none;
}

.hot{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}

.services{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.services .hot{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}
footer{
    height: 380px;
    background-color: #152336;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.about .li .a{
    color: white;
}